
h1{
    text-align: center;
    color:rgb(9, 54, 114);
    background-color: rgb(31, 133, 158);
    width:rgb(20, 20, 200) 1000px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    border:rgb(110, 182, 230) 10px;
    margin: 25px;
    border-style: double;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div.search{
    text-align: left;
    font-size: large;
    color:rgb(110, 182, 230);
    font-weight: 5000;
    font-family: cursive;
    background-color:rgb(255, 255, 255);
}
label.form-label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 54, 114);
    border-radius: 25px;
}

h2{
    text-align:center;
    background-color: rgb(110, 182, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 54, 114);
    border-radius: 25px;
    font-weight: 900;

}
h3{
    text-align:center;
    background-color: rgb(110, 182, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 54, 114);
    border-radius: 25px;
    font-weight: 900;
}

p.card-text{
    border-radius: 25px;
    font-weight:600;
    color: rgb(9, 54, 114);
}

div.card-body{
    background-color: rgb(110, 182, 230);
}

h5.card-title{
    font-family: sans-serif;
    color:rgb(6, 6, 117);
    font-weight:800;
}

div.col::-webkit-scrollbar{
    width: 10px;
}

